.page-container {
  margin: 2rem;
  display: grid;
  grid-gap: 1rem;
  @include desktop {
    margin: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.projects-container {
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  grid-gap: 2rem;
  @include desktop {
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

p, ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}


.article {
  max-width: 95%;
  margin: 0px auto;
  width: 40em;
}