.page-container {
  margin: 2rem;
  display: grid;
  grid-gap: 1rem;
  @include desktop {
    margin: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.projects-container {
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  grid-gap: 2rem;
  @include desktop {
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

p, ul {
  margin-block-start: .5em;
  margin-block-end: .5em;
}


.article {
  max-width: 95%;
  margin: 0px auto;
  width: 40em;
}

a {
  color: color(green-color);
  transition: $transition;

  &:hover {
    color: color(secondary-color);
    transition: $transition;
  }
}

.similar-articles-section {
  padding: 4rem;
  margin: 4rem 0rem;
}

.profile-section {
  padding: 4rem 0rem;
  margin-top: 2rem;
  background-color: lighten(color(background-color), 5%);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .p-name {
    font-family: $cursive-font;
    font-size: xxx-large;
  }

  .h-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    i {
      margin-right: 1rem;
      color: color(text-color);
    }

    a {
      color: color(text-color);
      display: flex;
      align-items: center;
      margin-bottom: .5rem;

    }
  }
}

.filter-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;

  @include desktop {
    margin: 0 20%;
  }

  @include xlarge {
    margin: 0 25%;
  }

  @include xsmall {
    margin: 0 5%;
  }

}

.search-results{
  position: absolute;
  background: #251333;
  padding: 1rem;
  margin-top: .5rem;
  margin-left: -5%;
  border: 1px solid #37275C;
  z-index: 10;
}

blockquote, aside {
    background: #37275C;
    border-left: 5px solid color(secondary-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;

    p {
        display: inline;
    }
  }

hr {
    border: 1px solid color(secondary-color);
    margin: 1.5rem;
    margin-block-start: 2rem;
}


    .quote::before {
        content: "“";
        background-color: color(secondary-color);
        color: color(background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        transform: translateX(-50%) translateY(-25%);
        font-variant: all-small-caps;
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        border-radius: 50%;
    }

    .information::before {
        content: "i";
        background-color: color(secondary-color);
        color: color(background-color);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        transform: translateX(-50%) translateY(-25%);
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        border-radius: 50%;
    }

    .note::before {
        content: "*";
        background-color: color(secondary-color);
        color: color(background-color);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        transform: translateX(-50%) translateY(-25%);
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        border-radius: 50%;
    }

    .warning{
        position: relative;
        background-color: #fc40561c;
        border-left: 5px solid color(secondary-color);
        margin: 1.5em 10px;
        padding: 1em;
        font-style: italic;

        &::before {
            display: inline-flex;
            justify-content: center;
            text-align: center;
            content: "!";
            position: absolute;
            color: color(background-color);
            width: 35px;
            height: 35px;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-25%);
            background-color: color(secondary-color);
            font-style: normal;
            font-weight: 700;
            font-size: 1.25rem;
            clip-path: polygon(50% 0,0 100%,100% 100%);
        }
    }

    .highlight {
        position: relative;
        background: color(background-light);
        border-left: 5px solid color(secondary-color);
        margin: 1.5em 10px;
        padding: 1em;
        font-style: italic;

        p {
            display: flex;
            flex-direction: column;
        }

        a {
            margin-top: .5rem;
            color: color(light-red);
        }
    }