.page-container {
  margin: 2rem;
  display: grid;
  grid-gap: 1rem;
  @include desktop {
    margin: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.projects-container {
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  grid-gap: 2rem;
  @include desktop {
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

p, ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}


.article {
  max-width: 95%;
  margin: 0px auto;
  width: 40em;
}

a {
  color: color(green-color);
  transition: $transition;

  &:hover {
    color: color(secondary-color);
    transition: $transition;
  }
}

.similar-articles-section {
  padding: 4rem;
  margin: 4rem 0rem;
}

.profile-section {
  padding: 4rem 0rem;
  margin-top: 2rem;
  background-color: lighten(color(background-color), 5%);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .p-name {
    font-family: $cursive-font;
    font-size: xxx-large;
  }

  .h-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    i {
      margin-right: 1rem;
      color: color(text-color);
    }

    a {
      color: color(text-color);
      display: flex;
      align-items: center;
      margin-bottom: .5rem;

    }
  }
}

blockquote {
    background: #37275C;
    border-left: 5px solid color(secondary-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;

    p {
        display: inline;
    }
  }

hr {
    border: 1px solid color(secondary-color);
    margin: 1.5rem;
}