
.contact {
  @include desktop {
    padding: 0rem 5rem;
  }
  
}

.contact-area {
  color: color(text-color-light);
  background-color: color(primary-color);
  position: relative;
  margin-top: 4rem;
  @include desktop {
    margin-top: 6rem;
  }

  h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: $cursive-font;
    color: color(text-color-light);
    margin-bottom: 1rem;
  }

  .contact-text {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    position: relative;

    @include desktop {
      flex-direction: row;
      text-align: justify;
    }

    @include xlarge {
      padding: 5rem 15rem;
    }
    .fab {
      color: color(secondary-color);
      transition: color 0.5s ease-out;
    }

    .fab:hover {
      color: color(green-color);
      transition: color 0.5s ease-out;
    }
    .horizontal-list {
      padding-top: 2rem;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  @include desktop {
    width:100%;
    margin: 0rem 5rem;
  }
  
  
  i {
    margin-right: .5rem;
  }
  input, textarea {
    color: color(text-color);
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 1px solid lighten(color(primary-color), 20%);
    background-color: color(background-color);
    border-radius: .25rem;
    appearance: none;
    margin-bottom: 1rem;
    font-family: "Jura", sans-serif;
    font-size: medium;
    &:focus, &:hover {
      border-color: color(secondary-color);
      outline: none;
    }
  }
}