footer {
  background-color: color(primary-color);
  font-size: medium;
  color: color(text-color-light);
  display: grid;
  grid-auto-flow: row;
  padding: 1rem;
  padding-bottom: 1rem;
  @include desktop{
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr)
  }
  .fa-heart {
    color: red;
  }
  .fa-code {
    color: color(secondary-color);
  }
  a {
    color: color(text-color-light);
  }
  a:hover {
    color: color(secondary-color);
    transition: color .5s ease-out;
  }
  .navigation {
    position: relative;
    @include desktop {
      position: absolute;
      right: 0;
      margin-top: -1rem;
    }
    .horizontal-list {
      padding-top: 0;
    }
  }
}
.contact {
  @include desktop {
    padding: 0rem 5rem;
  }
  
}

.contact-area {
  color: color(text-color-light);
  position: relative;
  margin-top: 4rem;
  @include desktop {
    margin-top: 6rem;
  }

  h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: $cursive-font;
    color: color(text-color-light);
    margin-bottom: 1rem;
  }

  .contact-text {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    margin-right: 0rem;
    position: relative;
    top: 0;
    z-index: 20;
    @include desktop {
      flex-direction: row;
      text-align: justify;
      position: absolute;
    }

    @include xlarge {
      padding: 5rem 15rem;
    }
    .fab {
      color: color(text-color-light);
    }

    .fab:hover {
      color: color(secondary-color);
      transition: color 0.5s ease-out;
    }
    .horizontal-list {
      padding-top: 2rem;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  @include desktop {
    width:100%;
    margin: 0rem 5rem;
  }
  
  
  i {
    margin-right: .5rem;
  }
  input, textarea {
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 2px solid white;
    border-radius: .25rem;
    appearance: none;
    margin-bottom: 1rem;
    font-family: "Jura", sans-serif;
    font-size: medium;
    &:focus {
      border-color: color(secondary-color);
      outline: none;
    }
  }
}