.about-card {
  background-color: color(primary-color);
  color: color(secondary-color);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  h2 {
    padding: 1rem 0rem 1rem 0rem;
  }
  p {
    margin: 0;
  }
}

.project-card {
  color: color(secondary-color);
  background-color: color(primary-color);
  border-radius: 10px;
  position: relative;
  z-index: 1;


  .project-image {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: -1;
    opacity: .8;
    transition:opacity .5s ease-out;
  }

  .category {
    position: absolute;
    right: 0;
    color: color(primary-color);
    background-color: color(secondary-color);
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 0px 10px 0px 10px;
  }

  .project-name {
    visibility: visible;
    position: absolute;
    top: 34%;
    left: 45%;
    transform: translate(-30%, 50%);
    text-shadow: 1px 1px 2px color(primary-color);
  }

  .tools-used {
    margin: 1rem 0rem 1.5rem 0rem;
    background-color: color(primary-color);
    text-align: center;
  }
}

.project-card:hover {

  .project-image {
    opacity: .2;
    transition: opacity .5 ease-out;
  }
  .project-name {
    visibility: hidden;
  }
  .description {
    visibility: visible;
  }
  .buttons {
    visibility: visible;
  }
}

.description {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -50%);
  text-align: center;
  margin: 0rem 1rem 1rem 1rem;
  @include xsmall {
    left: 15%;
    transform: translate(-9%, -66%);
  }

  @include desktop {
    top: 5%;
    left: 0;
    transform: none;
  }

  @include xlarge {
    top: 0;
    left: 20%;
    transform: translate((-10%, 50%))
  }
}

.cheatsheet {
  width: 500px;
  margin: 0 auto;
}

.post-card {
  color: color(secondary-color);
  background-color: color(primary-color);
  border-radius: 10px;
  position: relative;
  z-index: 1;

  .post-image {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
    z-index: -1;
    opacity: .6;
  }

  .card-title {
    position: absolute;
    bottom: 0;
    margin: 0rem 1rem 1rem 1rem;

    .category {
      background-color: color(secondary-color);
      color: color(primary-color);
      font-family: $base-font-family;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      font-size: small;
    }

    .fab {
      color: color(primary-color);
    }

    h4 {
      margin-top: .5rem;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.post-card:hover {
  .post-image {
    opacity: .3;
    overflow: hidden;
    transition: all .5 ease-in-out;
  }
  .description {
    visibility: visible;
    transition: all .5 ease-in-out;
  }
  .card-title {
    visibility: hidden;
    transition: all .5 ease-in-out;
  }
}

.cheatsheet-card {
  color: color(secondary-color);
  background-color: color(primary-color);
  border-radius: 10px;
  position: relative;
  z-index: 1;

  .image {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
    z-index: -1;
    opacity: .6;
  }

  .card-title {
    position: absolute;
    bottom: 0;
    margin: 0rem 1rem 1rem 1rem;

    .category {
      background-color: color(secondary-color);
      color: color(primary-color);
      font-family: $base-font-family;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      font-size: small;
    }

    .fab {
      color: color(primary-color);
    }

    h4 {
      margin-top: .5rem;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.cheatsheet-card:hover {
  .image {
    opacity: .3;
    overflow: hidden;
    transition: all .5 ease-in-out;
  }

}