// Constant classes

.visible-xs {
  position: absolute;
  right: 3rem;
  top: 2rem;
  @include desktop{
    display: none;
  }
}

.hidden-xs {
  display: none;
  @include desktop {
    display: block;
  }
}

.horizontal-list {
  list-style-type: none;
  display: flex;
  padding-top: 1rem;

  li {
    padding-right: $spacing-unit / 2;
  }
}

.full-button {
  cursor: pointer;
  background-color: color(secondary-color);
  color: color(primary-color);
  font-family: $base-font-family;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: medium;
  transition: background-color 0.5s ease-out;
}

.full-button:hover {
  background-color: color(green-color);
  color: color(primary-color);
  transition: background-color 0.5s ease-out;
}

.trans-button {
  cursor: pointer;
  color: color(secondary-color);
  font-family: $base-font-family;
  border: 1px solid color(secondary-color);
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.5s ease-out;
  font-size: initial;
  background-color: rgba(0,0,0,0.0);
}

.trans-button:hover {
  background-color: color(secondary-color);
  color: color(primary-color);
  transition: background-color 0.5s ease-out;
  .fab {
    color: color(primary-color);
  }
}

.white-button {
  cursor: pointer;
  color: color(primary-color);
  background: color(text-color-light);
  font-family: $base-font-family;
  font-size: medium;
  border: 1px solid color(text-color-light);
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.5s ease-out;
}

.white-button:hover {
  cursor: pointer;
  color: color(primary-color);
  background: color(secondary-color);
  font-family: $base-font-family;
  font-size: small;
  border: 1px solid color(secondary-color);
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.5s ease-out;
  @include desktop {
    font-size: medium;
  }
}

.progress-bar-background {
  border: 1px solid color(secondary-color);
  height: 20px;
position: relative;

  span {
      display: block;
      height: 100%;
      background-color: color(green-color);
      position: relative;
      overflow: hidden;
  }
}

.fab {
  color: color(secondary-color);
  transition: background-color 0.5s ease-out;
}
.fab:hover {
  color: color(green-color);
  transition: background-color 0.5s ease-out;
}

.two-columns {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  @include desktop {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
  }
}


.three-columns {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 3rem;
  @include desktop {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }
}


.four-by-four {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  @include desktop {
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repear(2, 1fr);
  }
}

.similar-articles {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  @include desktop {
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repear(2, 1fr);
  }

  .post-card {
    margin-bottom: 1rem;

    @include desktop {
      margin-right: 1.5rem;
    }
  }
}


.section {
  margin: 4rem 2rem 3rem 2rem;
  @include desktop {
    margin: 6rem 3rem 3rem 3rem;
  }
}

.container-middle {
  margin-bottom: 3rem;
  @include desktop {
    margin: 0rem 10rem 5rem 10rem;
  }
}

.input{
    color: color(text-color);
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 1px solid lighten(color(primary-color), 20%);
    background-color: color(background-color);
    border-radius: .25rem;
    appearance: none;
    margin-bottom: 1rem;
    font-family: "Jura", sans-serif;
    font-size: medium;
    &:focus, &:hover {
      border-color: color(secondary-color);
      outline: none;
    }
  }



/************************************
*     Anything Related to Fonts!    *
************************************/

.center-text {
  @include desktop {
    text-align: center;
  }
}

.small-font {
  font-size: $small-font-size;
}

.spaced-text {
  word-spacing: 15px;
}

.white-text {
  color: color(text-color-light);
}

.orange-text {
  color: color(secondary-color);
}

.grey-text {
  color: color(text-color-grey);
}

.drop-shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.10);
}

.bold {
  font-weight: bold;
}


/************************************
*     Anything Related to colors!    *
************************************/

.bg-primary {
  background-color: color(primary-color) !important;
}

.bg-background {
  background-color: color(background-color);
}

.border-secondary {
  border-color: color(secondary-color);
}

.border-color {
  border-color: color(border-color);
}



/************************************
*     Anything Related to layout!    *
************************************/


.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.margin {
  margin: $padding-unit;
}

.small-margin-right {
  margin-right: 1rem;
}

.m-1 {
  margin: .25rem;
}

.margin-bottom {
  margin-bottom: $padding-unit;
}

.margin-top {
  margin-top: $padding-unit;
}

.padding {
  padding: $padding-unit;
}

.padding-bottom {
  padding-bottom: $padding-unit;
}

.padding-top {
  padding-top: $padding-unit;
}

.margin-right {
  margin-right: $padding-unit;
}

.margin-left {
    margin-left: 1rem;
}

.centered {
  width: 50% !important;
  margin: auto !important;
}

.justify-center {
  justify-content: center;
}

.pl-6 {
  padding-left: 1.5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.mb-2 {
  margin-bottom: .5rem;
}

.p-2 {
  padding: .5rem;
}