body, h1, h2, h3, h4,
p, ul {
  margin: 0;
  padding: 0;
}

body {
  font: 400 18px/1.5 "Jura", sans-serif;
  color: #FFFFFF;
  background-color: #1A2430;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

@media (min-width: 1700px) {
  body {
    font-size: 20px;
  }
}

h1, h2, h3, h4 {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  color: #71afff;
}

a {
  text-decoration: none;
  color: #FF721E;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.visible-xs {
  position: absolute;
  right: 3rem;
  top: 2rem;
}

@media (min-width: 1160px) {
  .visible-xs {
    display: none;
  }
}

.hidden-xs {
  display: none;
}

@media (min-width: 1160px) {
  .hidden-xs {
    display: block;
  }
}

.horizontal-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.horizontal-list li {
  padding-right: 15px;
}

.full-button {
  cursor: pointer;
  background-color: #FF721E;
  color: #1E2A39;
  font-family: "Jura", sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: medium;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.full-button:hover {
  background-color: #ff8842;
  color: #2a3b50;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.trans-button {
  cursor: pointer;
  color: #FF721E;
  font-family: "Jura", sans-serif;
  border: 1px solid #FF721E;
  border-radius: 5px;
  padding: 8px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  font-size: initial;
  background-color: rgba(0, 0, 0, 0);
}

.trans-button:hover {
  background-color: #FF721E;
  color: #1E2A39;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.trans-button:hover .fab {
  color: #1E2A39;
}

.white-button {
  cursor: pointer;
  color: #1E2A39;
  background: #FFFFFF;
  font-family: "Jura", sans-serif;
  font-size: medium;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 8px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.white-button:hover {
  cursor: pointer;
  color: #1E2A39;
  background: #FF721E;
  font-family: "Jura", sans-serif;
  font-size: small;
  border: 1px solid #FF721E;
  border-radius: 5px;
  padding: 8px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@media (min-width: 1160px) {
  .white-button:hover {
    font-size: medium;
  }
}

.fab {
  color: #FF721E;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.fab:hover {
  color: #ff8238;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.three-columns {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 3rem;
}

@media (min-width: 1160px) {
  .three-columns {
    grid-auto-flow: column;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.four-by-four {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

@media (min-width: 1160px) {
  .four-by-four {
    grid-gap: .5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: repear(2, 1fr);
        grid-template-rows: repear(2, 1fr);
  }
}

.similar-articles {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

@media (min-width: 1160px) {
  .similar-articles {
    grid-gap: .5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: repear(2, 1fr);
        grid-template-rows: repear(2, 1fr);
  }
}

.similar-articles .post-card {
  margin-bottom: 1rem;
}

@media (min-width: 1160px) {
  .similar-articles .post-card {
    margin-right: 1.5rem;
  }
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.padding-bottom {
  padding: 1.5rem;
}

.margin-right {
  margin-right: 1.5rem;
}

.margin-left {
  margin-left: 1rem;
}

.section {
  margin: 4rem 2rem 3rem 2rem;
}

@media (min-width: 1160px) {
  .section {
    margin: 6rem 3rem 3rem 3rem;
  }
}

.container-middle {
  margin-bottom: 3rem;
}

@media (min-width: 1160px) {
  .container-middle {
    margin: 0rem 10rem 5rem 10rem;
  }
}

/************************************
*     Anything Related to Fonts!    *
************************************/
@media (min-width: 1160px) {
  .center-text {
    text-align: center;
  }
}

.small-font {
  font-size: 15.75px;
}

.spaced-text {
  word-spacing: 15px;
}

.white-text {
  color: #FFFFFF;
}

.grey-text {
  color: #57606B;
}

.drop-shadow {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.hero-image {
  display: none;
}

@media (min-width: 1160px) {
  .hero-image {
    display: block;
    max-height: 700px;
  }
}

header {
  color: #FFFFFF;
  margin-left: -.1%;
  margin-top: -.1%;
  margin-bottom: -.1%;
  position: relative;
}

@media (min-width: 1160px) {
  header {
    position: absolute;
    top: 0;
  }
}

header .header-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "intro" "pictures";
}

@media (min-width: 1160px) {
  header .header-container {
    padding-top: 0;
    -ms-grid-columns: 3fr 3fr;
        grid-template-columns: 3fr 3fr;
        grid-template-areas: "intro pictures";
  }
}

@media (min-width: 1700px) {
  header .header-container {
    margin: 0rem 15rem;
  }
}

header .intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
  padding-left: 2rem;
  margin-right: 4rem;
}

@media (min-width: 1160px) {
  header .intro {
    padding-left: 3rem;
    margin: 2rem 3rem 5rem 3rem;
  }
}

header .intro h1 {
  padding: .5rem 0rem 0rem 1rem;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: 400;
  color: #FFFFFF;
}

header .intro p {
  padding-left: 1rem;
}

header .intro .horizontal-list {
  margin-left: 2rem;
}

@media (min-width: 1160px) {
  header .intro .horizontal-list {
    margin-left: 0rem;
  }
}

header .intro .horizontal-list li:nth-child(1) {
  position: absolute;
  margin-top: 3rem;
}

@media (min-width: 1160px) {
  header .intro .horizontal-list li:nth-child(1) {
    position: inherit;
    margin-top: 0rem;
  }
}

header .pictures {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pictures;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0rem 8rem 2rem;
}

@media (min-width: 1160px) {
  header .pictures {
    margin: 2rem 0rem 0rem 9rem;
  }
}

@media (min-width: 1700px) {
  header .pictures {
    margin: 2rem 0rem 0rem 15rem;
  }
}

header .pictures .box:nth-child(2) {
  padding-left: 88px;
  position: absolute;
  margin-top: 6.7rem;
}

@media (min-width: 1160px) {
  header .pictures .box:nth-child(2) {
    padding-left: 88px;
    position: absolute;
  }
}

header .pictures .box {
  position: relative;
  width: 160px;
  margin-right: 1rem;
}

header .pictures .shadow {
  position: absolute;
  background: #F2F6F9;
  width: 160px;
  height: 160px;
  top: 35px;
  -webkit-clip-path: polygon(52% 1%, 100% 51%, 51% 100%, 0% 49%);
          clip-path: polygon(52% 1%, 100% 51%, 51% 100%, 0% 49%);
}

header .pictures .frame {
  width: 160px;
  -webkit-clip-path: polygon(52% 10%, 97.81% 50.07%, 51% 88.51%, 2.08% 49.56%);
          clip-path: polygon(52% 10%, 97.81% 50.07%, 51% 88.51%, 2.08% 49.56%);
  background: #FF721E;
}

header .pictures .gatsby-image-wrapper {
  -webkit-clip-path: polygon(53% 11%, 99% 52%, 52% 91%, 3% 51%);
          clip-path: polygon(53% 11%, 99% 52%, 52% 91%, 3% 51%);
  width: 157px;
}

nav {
  padding: 1rem 0rem .5rem 3rem;
}

@media (min-width: 1160px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .navigation {
  list-style-type: none;
}

@media (min-width: 1160px) {
  nav .navigation {
    display: inherit;
  }
}

nav li a {
  margin: .5rem 5rem 0rem 5rem;
  text-align: center;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 1160px) {
  nav li a {
    float: left;
    margin: 0rem 1.3rem 0rem 0rem;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

nav li a:hover {
  padding: .2rem .5rem .2rem .5rem;
  border-radius: 5px;
  margin: 0rem 5rem 0rem 5rem;
  background-color: #FF721E;
  color: #1E2A39;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@media (min-width: 1160px) {
  nav li a:hover {
    margin: 0rem 1.3rem 0rem 0rem;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  position: fixed;
  background-color: #1E2A39;
  top: 0rem;
  height: 100%;
  z-index: 40;
  padding: 4rem;
  border-right: 1px solid #6189bd;
}

nav .navbar .menu-button {
  visibility: visible;
  padding: .5rem 1rem;
  position: absolute;
  top: 2.3rem;
  right: .5rem;
}

@media (min-width: 1160px) {
  nav .navbar {
    position: relative;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 2rem;
    -webkit-transform: translatex(0%) !important;
            transform: translatex(0%) !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem;
    border: none;
  }
  nav .navbar a {
    margin-right: 2rem;
  }
  nav .navbar .menu-button {
    visibility: hidden;
  }
}

nav .navbar-show {
  -webkit-transform: translateX(-30%) !important;
          transform: translateX(-30%) !important;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10rem;
}

nav .navbar-show::-webkit-scrollbar {
  display: none;
}

nav .navbar-show a {
  margin-top: .5rem;
}

nav .navbar-hide {
  -webkit-transform: translate(-130%);
          transform: translate(-130%);
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
}

nav .menu-button {
  position: absolute;
  right: 0;
  top: 1.5rem;
  margin: 0rem 1.5rem;
  padding: 1rem;
}

nav .menu-button .gg-menu-right,
nav .menu-button .gg-menu-right::after,
nav .menu-button .gg-menu-right::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

nav .menu-button .gg-menu-right::after,
nav .menu-button .gg-menu-right::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px;
}

nav .menu-button .gg-menu-right::after {
  top: 6px;
  width: 14px;
}

.about-card {
  background-color: #1E2A39;
  color: #FF721E;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.about-card h2 {
  padding: 1rem 0rem 1rem 0rem;
}

.about-card p {
  margin: 0;
}

.project-card {
  color: #FF721E;
  background-color: #1E2A39;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.project-card .project-image {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: -1;
  opacity: .8;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.project-card .category {
  position: absolute;
  right: 0;
  color: #1E2A39;
  background-color: #FF721E;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 0px 10px 0px 10px;
}

.project-card .project-name {
  visibility: visible;
  position: absolute;
  top: 34%;
  left: 45%;
  -webkit-transform: translate(-30%, 50%);
          transform: translate(-30%, 50%);
  text-shadow: 1px 1px 2px #1E2A39;
}

.project-card .tools-used {
  margin: 1rem 0rem 1.5rem 0rem;
  background-color: #1E2A39;
  text-align: center;
}

.project-card:hover .project-image {
  opacity: .2;
  -webkit-transition: opacity .5 ease-out;
  transition: opacity .5 ease-out;
}

.project-card:hover .project-name {
  visibility: hidden;
}

.project-card:hover .description {
  visibility: visible;
}

.project-card:hover .buttons {
  visibility: visible;
}

.description {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  text-align: center;
  margin: 0rem 1rem 1rem 1rem;
}

@media (max-width: 435px) {
  .description {
    left: 15%;
    -webkit-transform: translate(-9%, -66%);
            transform: translate(-9%, -66%);
  }
}

@media (min-width: 1160px) {
  .description {
    top: 5%;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 1700px) {
  .description {
    top: 0;
    left: 20%;
    -webkit-transform: translate(-10%, 50%);
            transform: translate(-10%, 50%);
  }
}

.post-card {
  color: #FF721E;
  background-color: #1E2A39;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.post-card .post-image {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  opacity: .8;
}

.post-card .card-title {
  position: absolute;
  bottom: 0;
  margin: 0rem 1rem 1rem 1rem;
}

.post-card .card-title .category {
  background-color: #FF721E;
  color: #1E2A39;
  font-family: "Jura", sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: small;
}

.post-card .card-title .fab {
  color: #1E2A39;
}

.post-card .card-title h4 {
  margin-top: .5rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.post-card:hover .post-image {
  opacity: .3;
  overflow: hidden;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
}

.post-card:hover .description {
  visibility: visible;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
}

.post-card:hover .card-title {
  visibility: hidden;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
}

@media (min-width: 1160px) {
  .contact {
    padding: 0rem 5rem;
  }
}

.contact-area {
  color: #FFFFFF;
  position: relative;
  margin-top: 4rem;
}

@media (min-width: 1160px) {
  .contact-area {
    margin-top: 6rem;
  }
}

.contact-area h1 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Dancing Script", cursive;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.contact-area .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  margin-right: 0rem;
  position: relative;
  top: 0;
  z-index: 20;
}

@media (min-width: 1160px) {
  .contact-area .contact-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: justify;
    position: absolute;
  }
}

@media (min-width: 1700px) {
  .contact-area .contact-text {
    padding: 5rem 15rem;
  }
}

.contact-area .contact-text .fab {
  color: #FFFFFF;
}

.contact-area .contact-text .fab:hover {
  color: #FF721E;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.contact-area .contact-text .horizontal-list {
  padding-top: 2rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1160px) {
  .contact-form {
    width: 100%;
    margin: 0rem 5rem;
  }
}

.contact-form i {
  margin-right: .5rem;
}

.contact-form input, .contact-form textarea {
  color: #FFFFFF;
  padding: .5rem .75rem;
  line-height: 1.25;
  border: 1px solid #6189bd;
  background-color: #1A2430;
  border-radius: .25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 1rem;
  font-family: "Jura", sans-serif;
  font-size: medium;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #FF721E;
  outline: none;
}

.blog-post {
  overflow-x: hidden;
}

.blog-post .post-header {
  background-color: #1E2A39;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1160px) {
  .blog-post .post-header {
    padding: 4rem 5rem 4rem 16rem;
  }
}

.blog-post .post-header .far {
  padding-right: 0.3rem;
}

.blog-post .background {
  background-color: #1E2A39;
  padding: 6rem;
  margin-top: -1%;
}

.post-image {
  width: 100%;
}

@media (min-width: 1160px) {
  .post-image {
    max-height: 400px;
  }
}

.metadata {
  display: block;
}

@media (min-width: 1160px) {
  .metadata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
  }
}

.metadata-icons {
  padding-left: 2rem;
  font-size: small;
}

.post-area {
  margin-top: -15rem;
  padding-top: 4rem;
}

@media (min-width: 1160px) {
  .post-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.text-container {
  padding: 1rem;
  margin: 0rem 1rem 0rem 1rem;
  background-color: #233041;
  border-radius: 10px;
}

@media (min-width: 1160px) {
  .text-container {
    margin: 0rem 4rem 0rem 4rem;
    padding: 4rem 11rem;
  }
}

@media (min-width: 1700px) {
  .text-container {
    padding: 4rem 28rem;
  }
}

.text-container h1, .text-container h2, .text-container h3 {
  font-weight: bold;
  color: #71afff;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  font-size: x-large;
}

.text-container h1:nth-child(1) {
  color: #FF721E;
}

.text-container ul {
  padding-left: 3rem;
}

.text-container p:first-of-type:first-letter {
  float: left;
  color: #FF721E;
  font-size: 45px;
  line-height: 43px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

@media (min-width: 1160px) {
  .text-container p:first-of-type:first-letter {
    font-size: 60px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

.larger {
  font-size: 3em;
}

.page-container {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 1160px) {
  .page-container {
    margin: 3rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.projects-container {
  padding: 2rem;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 1160px) {
  .projects-container {
    margin: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

p, ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.article {
  max-width: 95%;
  margin: 0px auto;
  width: 40em;
}

.gatsby-highlight {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.language-text {
  padding: 1px 6px;
  color: #164b78 !important;
  border: 1px solid #c2c6cc;
  border-radius: 3px;
  background-color: #e7e9ee !important;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
  border: 1px solid #6189bd;
  scrollbar-width: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1A2430;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.webmentions-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.webmentions-container button {
  margin-top: 1.5rem;
}

@media (min-width: 1160px) {
  .webmentions-container button {
    margin-top: 0;
  }
}

@media (min-width: 1160px) {
  .webmentions-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.webmentions-list {
  margin-top: 2.25rem;
}

.webmention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
  position: relative;
  background-color: #1A2430;
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid #6189bd;
}

.webmention img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.webmention .mention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visible {
  overflow: hidden;
  opacity: 0;
  -webkit-animation: 1s linear forwards scrolldown;
          animation: 1s linear forwards scrolldown;
}

.invisible {
  overflow: hidden;
  -webkit-animation: 1s linear .5s forwards scrollup;
          animation: 1s linear .5s forwards scrollup;
}

@-webkit-keyframes scrollup {
  0% {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    display: block;
  }
  50% {
    max-height: 100%;
    opacity: .5;
  }
  95% {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes scrollup {
  0% {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    display: block;
  }
  50% {
    max-height: 100%;
    opacity: .5;
  }
  95% {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    display: none;
  }
}

@-webkit-keyframes scrolldown {
  0% {
    display: none;
  }
  5% {
    display: block;
    max-height: 0;
  }
  50% {
    max-height: 100%;
    opacity: .5;
  }
  100% {
    max-height: auto;
    opacity: 1;
  }
}

@keyframes scrolldown {
  0% {
    display: none;
  }
  5% {
    display: block;
    max-height: 0;
  }
  50% {
    max-height: 100%;
    opacity: .5;
  }
  100% {
    max-height: auto;
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */